
<header class="site-header">

	<div class="wrapper">

		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

	</div>
		
  <ul id="nav">
    <li{% if page.url == '/index.html' %} class="active"{% endif %}>
    <a href="{{site.baseurl}}/index.html">Reisenotizen</a>
    </li>
    <li{% if page.url == '/list-of-characters.html' %} class="active"{% endif %}>
    <a href="{{site.baseurl}}/list-of-characters.html">Expeditionsteilnehmer</a>
    </li>
	<li{% if page.url == '/impressum' %} class="active"{% endif %}>
    <a href="{{site.baseurl}}/impressum">Impressum</a>
    </li>
  </ul>
</header>
